<ActionBar title="Profile" class="action-bar">
</ActionBar>

<TabView selectedIndex="1">
  <ScrollView *tabItem="{title:'UI Components'}">
    <StackLayout class="form m-l-5">
      <RadDataForm [source]="feedback">
        <TKEntityProperty tkDataFormProperty name="test" displayName="Test" index="1">
        </TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="name" displayName="displayName" index="0"></TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="score" displayName="Score" index="2">
          <TKPropertyEditor tkEntityPropertyEditor type="Stepper"></TKPropertyEditor>
        </TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="date" displayName="Date" index="3">
          <TKPropertyEditor tkEntityPropertyEditor type="DatePicker"></TKPropertyEditor>
        </TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="component" displayName="Component" index="4" [valuesProvider]="components">
          <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
        </TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="note" displayName="Note" index="5">
          <TKPropertyEditor tkEntityPropertyEditor type="MultilineText"></TKPropertyEditor>
        </TKEntityProperty>
      </RadDataForm>

      <Button text="Save" (tap)="save()" class="btn btn-primary"></Button>
      <Button text="Clear" (tap)="clear()" class="btn btn-outline"></Button>
    </StackLayout>
  </ScrollView>

  <GridLayout *tabItem="{title:'DataForm'}" rows="*, auto, auto">
    <!-- https://docs.nativescript.org/angular/ui/rich-components#dataform -->
    <!-- http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/DataForm/dataform-overview -->
    <RadDataForm [source]="profile" row="0">
      <TKEntityProperty tkDataFormProperty name="name" displayName="Name" index="0"></TKEntityProperty>
      <TKEntityProperty tkDataFormProperty name="password" displayName="Password" index="1">
        <TKPropertyEditor tkEntityPropertyEditor type="Password"></TKPropertyEditor>
      </TKEntityProperty>
      <TKEntityProperty tkDataFormProperty name="dob" displayName="DOB" index="2">
        <TKPropertyEditor tkEntityPropertyEditor type="DatePicker"></TKPropertyEditor>
      </TKEntityProperty>
      <TKEntityProperty tkDataFormProperty name="codingPower" displayName="Coding Power" index="3">
        <TKPropertyEditor tkEntityPropertyEditor type="Stepper"></TKPropertyEditor>
      </TKEntityProperty>
      <TKEntityProperty tkDataFormProperty name="angularPro" displayName="Angular Pro" index="3">
        <TKPropertyEditor tkEntityPropertyEditor type="Switch"></TKPropertyEditor>
      </TKEntityProperty>
    </RadDataForm>

    <Button text="Save" (tap)="save()" class="btn btn-primary" row="1"></Button>
    <!-- <Button text="Clear" (tap)="clearForm()" class="btn btn-primary" row="2"></Button> -->
    <Button text="Clear" [nsRouterLink]="['/dogos']" class="btn btn-primary" row="2"></Button>



  </GridLayout>
</TabView>
