<ActionBar title="Service Test" class="action-bar">
</ActionBar>
<StackLayout>
  <Button text="Get PL Table" (tap)="getPLTable()" class="btn btn-primary"></Button>
  <Button text="Get PL Teams" (tap)="getPLTeams()" class="btn btn-primary"></Button>
  <Button text="Get PL Matches" (tap)="getPLMatches()" class="btn btn-primary"></Button>
  <Button text="Get Liverpool" (tap)="getLiverpool()" class="btn btn-primary"></Button>
  <Button text="Get Liverpool Players" (tap)="getLiverpoolPlayers()" class="btn btn-primary"></Button>
  <Button text="Get Liverpool Matches" (tap)="getLiverpoolMatches()" class="btn btn-primary"></Button>
</StackLayout>
